<!DOCTYPE html>
</html>
<head>
    <title>Sample App</title>
    <link href="/../css/main.css" rel="stylesheet">
</head>
<body class="page">
    <div class="page-header">
        <h2><%=title%></h2>
    </div>
    <h2><a href="/employees">View or Add Employees Details here!</a></h2>
    <br>========================================================</br>
    <h2>High Level architecture for this application shown below.</h2>
    <img src="/images/nodsjs_sample_architecture_2.PNG" />


</body>
</html>
